doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    title
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
  body
    .wrapper
      .content-wrapper
        h1 Ты сегодня покормил кота?
        .container
          .card-wrapper
            .block-wrapper
              .card-block
                .card-header
                  p.subtitle Сказочное заморское яство
                  p.title Нямушка
                  p.title-with с фуа-гра
                  p.title-bonus
                    span 10 !{' '}
                    |порций мышь <br> в подарок
                .card-body
                  img(src="images/kote.png" alt="#")
                  .weight-number 0,5
                    span кг



            p(data-id="1").card-link-text Чего сидишь? Порадуй котэ,!{' '}
              a(href="#").card-link купи

          .card-wrapper
            .block-wrapper
              .card-block
                .card-header
                  p.subtitle Сказочное заморское яство
                  p.title Нямушка
                  p.title-with с рыбой
                  p.title-bonus
                    span 40 !{' '}
                    | порций <br>
                    span 2 !{' '}
                    |мыши в подарок
                .card-body
                  img(src="images/kote.png" alt="#")
                  .weight-number 2
                    span кг

            p(data-id="2").card-link-text Чего сидишь? Порадуй котэ,!{' '}
              a(href="#").card-link купи

          .card-wrapper.disabled
            .block-wrapper
              .card-block
                .card-header
                  p.subtitle Сказочное заморское яство
                  p.title Нямушка
                  p.title-with с курой
                  p.title-bonus
                    span 100 !{' '}
                    | порций <br>
                    span 5 !{' '}
                    |мышей в подарок <br>
                    |заказчик доволен
                .card-body
                  img(src="images/kote.png" alt="#")
                  .weight-number 5
                    span кг

            p(data-id="3").card-link-text Печалька, с курой закончился
              //a(href="#").card-link купи




